<style>
  .bg-custom {
    background-color: #232E52;
  }
  .header {
    height: 450px;
  }
  .hello {
    font-size: 16px;
  }
  .header-text{
    font-size: 52px;
  }
</style>
<div class="header bg-custom w-100 text-white w-100 d-flex justify-content-center align-items-center rounded-4">
  <div class="w-75 fw-bold lh-1">
    <p class="hello">👋 Hello</p>
    <p class="header-text">Insights about personal and work life, and the in-betweens</p>
  </div>
</div>