<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Blog</title>
  </head>
  <body>
    <section>
      <form action="/blog/edit" method="post">
        <div>
          <label for="title"></label>
          <input type="text" name="title" id="title" placeholder="title"/>
          @if(flashMessages.has('errors.title'))
            <small>{{ flashMessages.get('errors.title') }}</small>
          @endif
        </div>
        <div>
          <label for="description"></label>
          <textarea id="description"" name="description" rows="5" cols="33" placeholder="Enter your description here..."></textarea>
          @if(flashMessages.has('errors.description'))
            <small>{{ flashMessages.get('errors.description') }}</small>
          @endif
        </div>
        <div>
          <label for="image"></label>
          <input type="text" name="image" id="image" placeholder="image" />
          @if(flashMessages.has('errors.image'))
            <small>{{ flashMessages.get('errors.image') }}</small>
          @endif
        </div>

        {{-- imporve tags input method --}}
        <div>
          <label for="tags"></label>
          <input type="text" name="tags" id="tags" placeholder="Enter tags saprated by commas" />
          @if(flashMessages.has('errors.tags'))
            <small>{{ flashMessages.get('errors.tags') }}</small>
          @endif
        </div>
        <div>
          <input type="submit" value="Create Blog" />
        </div>
      </form>
    </section>
  </body>
</html>